body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/my background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#calculator {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(11, 68, 90);
    border-radius: 32px;
    max-width: 500px;
    overflow: hidden;
    border-style: ridge;
    border-width: 4px;
    border-color: #428aa0;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    animation: pulse 1s infinite;
}
#display {
    color: #428aa0;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(27, 27, 54);
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(27, 27, 54);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: rgb(11, 68, 90);
    transform: scale(1.1);
}
button:active {
    background-color: rgb(5, 34, 45);
    transform: scale(0.95);
}
.operator-btn {
    background-color: rgb(0, 153, 204);
}
.operator-btn:hover {
    background-color: rgb(0, 102, 153);
}
.operator-btn:active {
    background-color: rgb(0, 51, 76);
}